<table class="table table-striped" id="all-packages">
    <caption>All packages used in all {{ organization }} projects</caption>
    <thead>
    <tr>
        <th>Package</th>
        <th>Description</th>
        <th>Home</th>
        <th>GitHub</th>
        <th>Packagist</th>
    </tr>
    </thead>
    <tbody>
    {% for package in packages|keys %}
        {% if directory[package] is not empty %}
            <tr class="package">
                <td class="package-name">
                    <a class="internal" id="{{ package|replace({'/': '-'}) }}"
                       href="#project-{{ package|replace({'/': '-'}) }}">{{ package }}</a>
                </td>
                <td class="package-description">{{ directory[package].description }}</td>
                <td>
                    {% if directory[package].homepageUrl is empty %}
                        <span>none</span>
                    {% else %}
                        <a href="{{ directory[package].homepageUrl }}">
                            <img alt="homepage" src="img/home.png"/>
                        </a>
                    {% endif %}
                </td>
                <td>
                    {% if directory[package].githubUrl is empty %}
                        <span>none</span>
                    {% else %}
                        <a href="{{ directory[package].githubUrl }}">
                            <img alt="homepage" src="img/github.png"/>
                        </a>
                    {% endif %}
                </td>
                <td>
                    <a href="https://packagist.org/packages/{{ package }}">
                        <img alt="get it on packagist" src="img/packagist.svg"/>
                    </a>
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>