<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>composer packages</title>
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
        <link rel="stylesheet" href="css/main.css" />
    </head>
    <body>
        {% block content %}
            <div class="lastUpdate">
                last update: {{ lastModifiedTime|date("l d F Y - H:i:s") }}
            </div>
            <div id="accordion">
                <h2>All packages found</h2>
                <ul>
                    {% for package, packageData in deduplicatePackages %}
                        <li>
                            <span class="package-name">{{ package }}</span>
                            <a href="https://packagist.org/packages/{{ package }}"><img alt="get it on packagist" src="img/packagist.svg" /></a>
                            <a href="{{ packageData.homepage }}"><img alt="homepage" src="img/homepage.svg" /></a>
                            <span class="package-description">({{ packageData.description }})</span>
                        </li>
                    {% endfor %}
                </ul>
                <h2>Packages by project</h2>
                <ul>
                    {% for project, packagesInside in projects %}
                        <li>
                            {{ project }}
                                <ul>
                                    {% for package, packageData in packagesInside %}
                                        <li>{{ package }}</li>
                                    {%  endfor %}
                                </ul>
                        </li>
                    {% endfor %}
                </ul>
                <h2>Projects by package</h2>
                <ul>
                    {% for package, projectsUsingIt in packages %}
                        <li>
                            {{ package }}
                            <ul>
                                {% for project in projectsUsingIt %}
                                    <li>{{ project }}</li>
                                {%  endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
            <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
            <script>
                $(function() {
                    $( "#accordion" ).accordion({
                            active: false,
                            collapsible: true,
                            heightStyle: "content"
                    });
                });
            </script>
        {% endblock %}
    </body>
</html>