<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>composer packages</title>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body>
{% block content %}
    <div class="info">
        last update:<br />
        {{ lastModifiedTime|date("l d F Y") }}<br/>
        {{ lastModifiedTime|date("H:i:s") }}
        <ul>
            <li><a href="#all-packages">all packages</a></li>
            <li><a href="#packages-by-project">packages by project</a></li>
            <li><a href="#projects-by-package">projects by package</a></li>
        </ul>
    </div>
    <a name="all-packages"></a>
    <table>
        <caption>All packages found</caption>
        <thead>
            <tr>
                <th>Package</th>
                <th>Description</th>
                <th>Home page</th>
                <th>Packagist</th>
            </tr>
        </thead>
        <tbody>
        {% for package, packageData in deduplicatePackages %}
            <tr class="package">
                <td class="package-name">{{ package }}</td>
                <td class="package-description">{{ packageData.description }}</td>
                <td>
                    <a href="{{ packageData.homepage }}">
                        <img alt="homepage" src="img/homepage.svg"/>
                    </a>
                </td>
                <td>
                    <a href="https://packagist.org/packages/{{ package }}">
                        <img alt="get it on packagist" src="img/packagist.svg"/>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    {% set sectionVars = {'name': 'packages-by-project', 'label': 'Packages by project', 'items': projects} %}
    {% include 'section.twig' with sectionVars %}


    <a name="projects-by-package"><h2>Projects by package</h2></a>
    <ul>
        {% for package, projectsUsingIt in packages %}
            <li>
                <span class="item-name">{{ package }}</span> ({{ projectsUsingIt|join(', ') }})
            </li>
        {% endfor %}
    </ul>
{% endblock %}
</body>
</html>
