<h2 id="packages-by-project">Projects ({{ projects|length }})</h2>
{% for projectName, projectPackages in projects %}
    {% if projectPackages is not empty %}
        <div class="well project-card">
            <legend class="item-name">
                <a href="{{ directory[projectName].githubUrl }}">{{ projectName }}</a>
            </legend>
            <ul>
                {% for projectPackage in projectPackages %}
                    <li>
                        <a class="internal" href="#{{ projectPackage|replace({'/': '-'}) }}">
                            {{ projectPackage }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endfor %}